{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <section class="hero">
        <h1>Welcome to FlippiNote</h1>
        <p>Your space for creativity, organization, and collaboration.</p>
        <button class="cta-btn">
            <a href="{% url 'signup' %}">Get Started for Free</a>
        </button>
    </section>

    <div class="banner-container">
        <p>Some of our customers!</p>
        <div class="banner-content">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="image">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="image">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="image">
        </div>
      </div>

    <section class="features">
        <h2>Features</h2>
        <div class="feature-grid" onclick="window.location.hash='back'; " id="feature-grid">
            <div class="feature-card">
                <h3>Organize Your Ideas</h3>
                <p>Create boards, notes, and lists to keep everything in one place.</p>
            </div>
            <div class="feature-card">
                <h3>Collaborate in Real-Time</h3>
                <p>Share your notes and boards with teammates and work together.</p>
            </div>
            <div class="feature-card">
                <h3>Stay Productive</h3>
                <p>Set reminders and organize your tasks to stay on track.</p>
            </div>
        </div>
    </section>

    <section class="pricing">
        <h1>Pricing</h1>
        <div class="pricing-grid" onclick="window.location.hash='back'; " id="pricing-grid">
            <div class="pricing-card">
                <h3>Free User</h3>
                <p>Free users will have total access to our Product.</p>
            </div>
        </div>
    </section>
    <section class="contact">
        <h1>Contact Us!</h1>
        <div class="contact-space" onclick="window.location.hash='back'; " id="contact-us">
            <p>Have any issues with our product or general questions?</p>
            <p><a href="mailto:someone@example.com">Send email</a></p>
        </div>
    </section>
</main>
{% endblock content %}
