{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- Vertical Navigation Bar -->
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="sticky-note-color-1">Home</a></li>
                <li><a href="{% url 'notes' %}" class="sticky-note-color-2">Notes</a></li>
                <li><a href="#" class="sticky-note-color-3">Settings</a></li>
                <li><a href="#" class="sticky-note-color-4">Collaborators</a></li>
                
            </ul>
        </nav>
        
    </aside>

    <main class="main-content">
        <h1>Your Notes</h1>
        <button class="create-note-btn sticky-note-color-5"><a href="{% url 'add-note' %}">Create Note</a></button>
    
        <div class="notes-dashboard" id="notes-dashboard">
            {% for note in notes %}
            {% if note.owner == user or user in note.access %}
                {% if note.text %}
                <div class="note-card" id="note-card-{{ note.id }}">
                    <p><strong>{{ note.title }}</strong><br />
                    {{ note.text }}</p>
                </div>
                {% elif note.image %}
                <div class="note-card" id="note-card-{{ note.id }}">
                    <img alt="{{ note.title }}" src="{{ note.image.url }}"><br />
                    <a href="{{ note.image.url }}">Download</a>
                </div>
                {% elif note.file %}
                <div class="note-card" id="note-card-{{ note.id }}">
                    <a href="{{ note.file.url }}">Download {{note.title}}</a>
                </div>
                {% endif%}
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
    </main>    
    
</div>
{% endblock content %}
